.flex-container {
    margin-top: 10px;
    display: flex;
  }

  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }

  .logo{
    background-color: #ff00ff;
    color: white;
    font-size: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .cart{
    float: right;
    background-color: #ff00ff;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    padding: 0px 0px 0px 12px;
  }

  .cart-cost{
    margin-left: 3px;
    margin-right: 10px;
  }
  .open{
    background-color: rgba($color: #ff00ff, $alpha: 0.2);
    color: #ff00ff;
    border: 1px solid #ff00ff;
    padding: 0px 0px 0px 12px;
  }

  .close-cart{
    background-color: #ff00ff;
    height: 100%;
    color: white;
    font-weight: bold;
    padding: 1px 6px 1px 6px;
    margin-top: 5px;
  }